<%- include('../partials/header') %>

<div class="image-window">

<div id="image-window-black-area-background">
    <p id="image-window-text">"Food is everything we are. It’s an extension of nationalist feeling, ethnic feeling, your personal history, your province, your region, your tribe, your grandma. It’s inseparable from those from the get-go"
        <span> - Anthony Bourdain</span>
    </p>
</div>

</div>
    <% recipes.forEach(function(r) { %>
        <div class="recipe-box">
            <div class="recipe">
                <div><a href="/recipes/<%= r._id %>" class="recipe-button"><%= r.title %></a></div>
                <div class="recipe-ing"><%= r.ingredients %></div>
                <div class="recipe-desc"><%= r.description %></div>
            </div>
        </div>
    <% }); %>

<%- include('../partials/footer') %> 