<%- include('../partials/header') %>

<div class="image-window-recipe">

    <div id="image-window-black-area-background">
        <p id="image-window-text" style="font-size: 5em"><%= recipe.title %>
        </p>
    </div>
    
    </div>

<section id="show-page">
    <div id="recipe-page-recipe" style="visibility: hidden">Recipe</div>
        <div id="recipe-page-recipe-recipe" style="visibility: hidden"><%= recipe.title %></div>
    <div id="recipe-page-ingredients">Ingredients</div>
        <div id="recipe-page-ingredients-ingredients"><%= recipe.ingredients %></div>
    <div id="recipe-page-description">Description</div>
        <div id="recipe-page-description-description"><%= recipe.description %></div>
</section>


<h2>Comments</h2>

<% if (recipe.comments.length) { %>
<% recipe.comments.forEach(function(c) { %>
    <tr>
      <div><%= c.content %></div>
      <div><%= c.user %></div>
    </tr>
    <% }); %>
    <tr>
      <td colspan="2"></td>
      <td><strong><%= (total / recipe.comments.length).toFixed(1) %></strong></td>
    </tr>
</tbody>
</table>
<% } else { %>
<h5>No Comments Yet</h5>
<% } %>

<br><br><br>
<form id="add-comment-form" method="POST"
  action="/recipes/<%= recipe._id %>">
  <label>Comment:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Comment">
</form>


<%- include('../partials/footer') %>
