<%- include('../partials/header') %>



<section id="show-page">
    <div>Recipe: </div>
        <div><%= recipe.title %></div>
    <div>Ingredients: </div>
        <div><%= recipe.ingredients %></div>
    <div>Description: </div>
        <div><%= recipe.description %></div>
</section>


<br><br><h2>Comments</h2>

<% if (recipe.comments.length) { %>
<% recipe.comments.forEach(function(c) { %>
    <tr>
      <div><%= c.content %></div>
      <div><%= c.user %></div>
    </tr>
    <% }); %>
    <tr>
      <td colspan="2"></td>
      <td><strong><%= (total / recipe.comments.length).toFixed(1) %></strong></td>
    </tr>
</tbody>
</table>
<% } else { %>
<h5>No Comments Yet</h5>
<% } %>

<br><br><br>
<form id="add-comment-form" method="POST"
  action="/recipes/<%= recipe._id %>">
  <label>Comment:</label>
  <textarea name="content"></textarea>
  <input type="submit" value="Add Comment">
</form>


<%- include('../partials/footer') %>
