<%- include('../partials/header') %>



<section id="show-page">
    <div>Recipe: </div>
        <div><%= r.title %></div>
    <div>Ingredients: </div>
        <div><%= r.ingredients %></div>
    <div>Description: </div>
        <div><%= r.description %></div>
</section>



<%- include('../partials/footer') %>
